*{
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Open Sans', sans-serif;
}

body{
    /* background-image: linear-gradient(to bottom left , rgba(255,255,255,0.1), rgba(0, 0, 0, 0.578) 70%) , url("../img/loginbg.png"); */
    background-image: linear-gradient(to bottom left , rgba(255,255,255,0.1), rgba(0, 0, 0, 0.578) 70%) , url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.loginform{
    width: 400px;
    height: 400px;
    position: relative;
    margin:  8% auto;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}
/* glassmorphism */
.loginform{
    background: rgba(255, 255, 255, 0.103);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0, .5);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.button_box{
    width: 214px;
    margin: 35px auto;
    position: relative;
    border-radius: 20px;
}

.toggle_btn{
    padding: 10px 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none ;
    position: relative;
    width: 100px;
    font-size: 18px;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 105px;
    height: 100%;
    background: rgba(251, 245, 220, 0.395);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 30px;
    transition: .5s;
}

.all_input{
    top: 120px;
    position: absolute;
    width: 250px;
    transition: .5s;
    /* display: none; */
}

.input1{
    width: 130%;
    padding: 10px 0;
    margin: 2% 15%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    /* border-bottom: 1px solid #ffffff; */
    outline: none;
    background: transparent;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}

.rempass{
    color: black;
}

.submit_btn{
    width: 60%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 11px 47%;
    /* background: rgba(251, 245, 220, 0.785); */
    background: rgba(251, 245, 220, 0.395);

    box-shadow: 0 8px 6px 0 rgba( 31, 38, 135, 0.37 );
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 30px;
    /* box-shadow: 0px 0px 12px rgb(81, 79, 81); */
}

.submit_btn:hover{
    width: 60%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 11px 47%;
    /* background: rgba(251, 245, 220, 0.785); */
    background: rgba(251, 245, 220, 0.523);

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 30px;
    transition: .5s;
}

.check_box{
    margin: 36px 10px 30px 15%;
}

span{
    font-size: 12px;
    top: 133px;
    left: 57px;
    /* bottom: 116px; */
    position: absolute;
}

/* #login{
} */

#register{
    left: 450px;
}

#conditions{
    top: 172px;
}

.check_box1{
    margin: 26px 10px 15px 15%;
    
}

.asubmit{
    text-decoration: none;
    color: black;
}

