*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    margin-bottom: 15px;
}

.top-picks-collection{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    height: 270px;
}


.card-title{
    text-align: center;
    font-size: 15px;
    color: black;
}

.card-text{
    text-align: center;
    color: black;
}

.card-body{
    padding: 5px;
}

.card-img-top{
    height: 170px;
    width: 100%;
}

.shadoww{
    height: 250px;
    width: 150px;
    border: 1px solid black;
    margin: 5px 15px;
    transition: 0.2s;
}

.shadoww:hover {
    transform: translateY(-12px);
    transition-timing-function: ease-in-out;
    
}
